.ipynb_checkpoints/*.*
keras/.ipynb_checkpoints/*.*
keras/__pycache__/*.*
temp/.ipynb_checkpoints/*.*
study/resnet-18-tensorflow-master/README.md
study/resnet-18-tensorflow-master/.gitignore
study/.ipynb_checkpoints/tensorflow-cnn-checkpoint.ipynb
study/.ipynb_checkpoints/temporary-checkpoint.ipynb
study/tmp/data/train-labels-idx1-ubyte.gz
study/tmp/data/train-images-idx3-ubyte.gz
study/tmp/data/t10k-labels-idx1-ubyte.gz
study/tmp/data/t10k-images-idx3-ubyte.gz
study/resnet-mnist/__pycache__/utils.cpython-36.pyc
study/resnet-mnist/__pycache__/train.cpython-36.pyc
study/resnet-mnist/__pycache__/resnet.cpython-36.pyc
study/resnet-mnist/__pycache__/inputData.cpython-36.pyc
study/resnet-mnist/MNIST-data/train-labels-idx1-ubyte.gz
study/resnet-mnist/MNIST-data/train-images-idx3-ubyte.gz
study/resnet-mnist/MNIST-data/t10k-images-idx3-ubyte.gz
study/resnet-mnist/.ipynb_checkpoints/homework-checkpoint.ipynb
study/resnet-18-tensorflow-master/utils.py
study/resnet-18-tensorflow-master/train_scratch.sh
study/resnet-18-tensorflow-master/train.py
study/resnet-18-tensorflow-master/scripts/val.txt
study/resnet-18-tensorflow-master/scripts/train_shuffle.txt
study/resnet-18-tensorflow-master/resnet.py
study/resnet-18-tensorflow-master/imagenet_input.py
study/resnet-18-tensorflow-master/extract_torch_t7.py
study/resnet-18-tensorflow-master/eval.sh
study/resnet-18-tensorflow-master/eval.py
study/.ipynb_checkpoints/Untitled-checkpoint.ipynb
study/resnet-18-tensorflow-master/imagenet_input_old.py
study/resnet-18-tensorflow-master/train.sh
study/resnet-18-tensorflow-master/ResNet_mean_rgb.pkl
study/resnet-mnist/MNIST-data/t10k-labels-idx1-ubyte.gz
